@use "@/abstracts" as *;

.section-models {
    &__block {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: clampFluid(60, 130);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: clampFluid(20, 30);
    }

    @media (max-width: 1400px) {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 1024px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 480px) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}