@use "@/abstracts" as *;

.ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: clampFluid(50, 150);
    background: inherit;
    clip-path: ellipse(55% 100% at 50% 100%);
    transform: translateY(-99%);
    z-index: -1;
}